{{page-title 'luke-eldridge.com'}}

<nav>
  <img class='nav-item' height='40px' src='assets/me.png' alt='luke' />
  <h1 class='nav-item'>Luke Eldridge</h1>
  <LinkTo class='nav-item' @route='index'>Home</LinkTo>
  <LinkTo class='nav-item' @route='projects'>Projects</LinkTo>
  {{! <LinkTo @route="blog" class="nav-link">Blog</LinkTo> }}
</nav>
<div class='page'>
  {{outlet}}
</div>