<div class='page'>
  <h1>Hello!</h1>

  <p>I am Luke Eldridge, a software engineer based out of Portland, Oregon. I
    have worked with a lot of different languages and frameworks in my career so far, including
    javascript, C#, golang, objective-c, ruby, and others. I have worked
    professionally on web and server-side applications as well as desktop applications for MacOS and Windows.</p>

  <p>I am currently focusing on working with ReactJS, EmberJS, NodeJS, Ruby on Rails, or
    Go based stacks. I pride myself on being able to use whatever tool is
    necessary to get a job done and have worked with Python and Java server side applications as well,
    and I'm always enthusiastic to learn new technologies and frameworks.</p>

  <p><b>Contact:</b>
    <a href='mailto:jleldridge27@gmail.com'>jleldridge27@gmail.com</a>
    <br />
    <b>Linkedin:</b>
    <a
      href='https://linkedin.com/in/lukeeldridge27/'
    >https://linkedin.com/in/lukeeldridge27/</a>
  </p>
</div>