<div class='page'>
  <h2>WisdomPanel.com</h2>

  <a href='https://www.wisdompanel.com'>Visit website</a>

  <h2>Abstract</h2>
  <p>
    Abstract is a tool that leverages the power of version control to allow
    design teams to collaborate and more effectively hand design assets off to
    developers. While at Abstract I worked on the full stack of the app, from
    adding server and desktop code to parse and version control design
    documents, to bringing our own designs to life in the UX on the web and
    desktop apps.
    <br />
    <a href='https://www.abstract.com'>Visit website</a>
  </p>

  <h2>Datawatch Monarch</h2>

  <p>
    Monarch is Datawatch's premier self-service data preparation tool targeting
    Windows desktops. While working at Datawatch, I have designed and developed
    UI workflows and backend code for data extraction methods, data connectors,
    data transforms, joins, and more. I have also helped to integrate Monarch
    with Datawatch's _Monarch Swarm_ server / browser based product.
    <br />
    <a href='https://www.datawatch.com/our-platform/monarch/'>Visit website</a>
  </p>

  <h2>Panopticon</h2>

  <p>
    Following their acquisition by Datawatch, I worked on-site with Panopticon
    Software in Stockholm to bring Panopticon’s data visualization software into
    the Datawatch software suite. During this time I was primarily focused on
    improving the software's UI, but I also created UI and backend code for data
    connectors that allow Datawatch software to connect to IBM Cognos TM1, IBM
    Cloudant, and streaming data sources. I primarily used C# and XAML, but
    there were occasions where I worked on backend code written in Java.
  </p>

  <h2>This Website</h2>

  <p>
    I developed this website for deployment on Heroku with Nginx and Rails as
    the backend and EmberJS as the frontend.
    <br />
    <a href='https://github.com/jleldridge/luke-eldridge.com'>View source code</a>
  </p>
</div>