<div id="game-container">
  <canvas id="game-canvas" width="800" height="600"/>
  <LinkTo @route="game.play" class="main-menu-button">Play</LinkTo>
  <LinkTo @route="game.pause" class="main-menu-button">Pause</LinkTo>
</div>